#menu{
  width: 100%;
  height: 65px;
  background-color: black;
  display: flex;
  
}
.me-ch{
  display: inline-block;
  padding-top: 25px;
  padding-left: 10px;
  width: 5%;
}
.me-ch:hover{
  display: inline-block;
  padding-top: 25px;
  padding-left: 10px;
  width: 5%;
  background-color: red;
}

#content{
  list-style-type: none;
  background-color: bisque;
}
#e-content:hover{
  background-color: lightgrey ;
}
.ele1{
  display: inline-block;
  position: absolute;
}
.me-ch:hover .ele1{
  display: block;
}