#main {
  display: flex;
  width: 100%;
}
#ele1 {
  background-color: greenyellow;
}
#ele2 {
  background-color: paleturquoise;
}
#header {
  background-color: gainsboro;
}
#choice {
  background-color: pink;
}
#footer {
  background-color: goldenrod;
}
